{% extends 'base.twig' %}

{% block content %}
    <h3> {{ flash.msg|raw }}</h3>
    {% if patent %}
        <h2>{{ patent.title}}</h2>
        <h3> by {{patent.company|raw}}</h3>
        <p> {{ patent.description }}</p>

    {% else %}
        <h1> Unable to find that patent. </h1>
    {% endif %}

{% endblock %}
